<head>
  <meta charset='<%= ::Refinery::Application.config.encoding %>' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= browser_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application" %>

	<!--  SEO [adreson] -->
	<meta name="title" content="sempreviva organização feminista" />

	<meta name="description" content="Feminismo, Movimento Social e Transformação são as razões de ser da Sempreviva Organização Feminista, uma organização não-governamental feminista em funcionamento desde 1963, com sede na cidade de São Paulo e atuação em âmbito nacional." />

	<meta name="keywords" content="sof, feminismo, sempreviva, organização, feministas, mulher, internacional, marcha, social, cidadania, aborto, transformação, movimento, não-governamental, Porto Alegre, São Paulo, autodeterminação, democracia, popular, luta, política, autonomia, independência, sociedade, classe, gênero, etnia, igualdade, biblioteca, sexismo, Maria da Penha" />

	<link rel="canonical" href="http://www.sof.org.br/" />
	<!-- /all SEO [adreson]  -->

	<meta name="ROBOTS" content="INDEX,FOLLOW">
	<META NAME="robots" content="all">
	<meta name="Author" content="sempreviva organização feminista">
	<meta name="Distribution" content="Global">
	<META NAME="revisit-after" content="14 days">
	<META NAME="classification" content="general">
	<META HTTP-EQUIV="expires" CONTENT="-1">
	<meta name="Copyright" content="(c) 2011 - adreson">
	<meta name="Expires" content="Never">
	<meta name="Rating" content="General">
	<meta name="doc-type" content="Web Page">
	<meta name="GOOGLEBOT" content="index,follow">
	<META NAME="MSNBot" CONTENT="index,follow">
	<meta name="owner" content="sempreviva organização feminista">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Content-Language" content="pt-BR, pt_BR" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />

  <%= render :partial => '/shared/google_analytics' unless local_request? %>

  <%= javascript_include_tag 'modernizr-min' %>

</head>
