    <!-- banners atuais -->
    <div id="banner">
		<%- Banner.all.each do |banner| -%>
		<p><%= link_to(image_fu(banner.image, nil), banner.url, :target=>'new') %></p>
		<%- end -%>

		<div id="tagCloud" title="nuvem de TAGs - Nossa visão feminista sobre">
          <h3>Nossa visão feminista sobre</h3><br />&nbsp;&nbsp;&nbsp;

			<%= render :partial => "/shared/tagcloud" %>

       </div>
    </div>

	<div id="destaque">
		<h3>Destaque</h3>
		<div id="fotoDestaque">
			<div id="legendaDestaque">
				<!-- /* legenda/título da foto em destaque*/ -->
				<h1><%= link_to(Noticia.destaque.try(:titulo), Noticia.destaque) %></a></h1>
			</div>
			<%= image_fu Noticia.destaque.foto, :large %>
		</div>
		<div id="textoDestaque">
			<h1><%= link_to(Noticia.destaque.try(:titulo), Noticia.destaque) %></h1>
			<%= raw Noticia.destaque.try(:lead) %>
		</div>
	</div>

    <div id="capa">
      <!-- esquerda -->
      <div id="esquerda">
	
        <div id="noticiaCapa">
          	<h3><%= link_to(Noticia.destaque2.try(:titulo), Noticia.destaque2) %></h3>
			<%= image_fu Noticia.destaque2.foto, :small, :align=>'left' %>
			
          <p><%= raw Noticia.destaque2.try(:lead) %></p>
          <p class="leiamais"><a href="/noticias">Leia mais &#9658;</a></p>
        </div>

        <br />
        <div id="servicosCapa">

          <div id="editalCapa">
            <h3 class="tarjaVerde">Editais</h3>
			<%- if Edital.last -%>
            <p><strong><%= Edital.last.data.strftime("%d.%m.%Y")%> - <%=Edital.last.titulo%></strong> - <%=Edital.last.descricao%><br />              
              <br />
              <strong><%= link_to('Leia o edital completo', Edital.last.arquivo.url)%></strong></p>
			<% else -%>
            <p>Sem editais cadastrados</p>
      <% end -%>
          </div>

          <div id="boletimCapa">
            <h3 class="tarjaVerde">Boletim </h3>
            <form action="" method="post" name="cadastroBoletim" id="cadastraBoletim" title="cadastro de e-mail para o boletim" lang="pt" xml:lang="pt">
              <p>Cadastre-se e receba nossos boletins:
                <input name="registraEmail" type="text" class="form_emailBox" id="registraEmail" title="escreva seu email" />
                <label for="registraEmail">escreva seu email</label>
              </p>
              <p>
                <label for="btCadastrar"></label>
                <input name="btCadastrar" type="submit" class="form_buttonCad" id="btCadastrar" value="     cadastrar     " />
              </p>
            </form>
          </div>
        </div>
      </div>
      <!-- direita -->
      <div id="direita">
        <div id="agendaCapa">
          <h3>Agenda</h3>
			<%- Evento.ultimos.each do |eve| -%>
			<p>
				<%= link_to(eve.titulo, evento_path(eve)) %>
				<em><%= eve.inicio.strftime("%d/%m/%Y") %> - <%= eve.local %></em>
			</p>
			<%- end -%>
          <p class="leiamais"><a href="/eventos">Leia mais &#9658;</a></p>
        </div>
        <br />
        <div id="publicacoesCapa">
          <h3>Publicac&otilde;es</h3>
			<p>
				<%= image_fu(Artigo.capa.imagem, :pub, :align=>"left") %>
				<%= link_to(Artigo.capa.titulo, Artigo.capa) %>
				<em><%= Artigo.capa.data.strftime("%d/%m/%Y") %> - <%= Artigo.capa.categoria.titulo %></em>
			</p>
			<br/><br/>
          <%- Artigo.capa2.each do |pub| -%>
			<p>
				<%= link_to(pub.titulo, pub) %>
				<em><%= pub.data.strftime("%d/%m/%Y") %> - <%= pub.categoria.titulo %></em>
			</p>
		  <% end -%>
          <p class="leiamais"><a href="#leiamais">Leia mais &#9658;</a></p>
        </div>
        
      </div>
    </div>
