<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" xml:lang="pt-BR">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="pt_BR" xml:lang="pt_BR">

<%= render :partial => '/shared/head' %>

<body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="container">
    <div id="barraSuperior">
        <div id="barra">

            <%= render :partial => '/shared/search' %>

            <div id="acessibilidade">
                <!--Acessibilidade <a href="#" title="texto menor" class="mais">A-</a> | <a href="#" title="texto maior" class="menos">A+</a>-->
            </div>

            <div id="rss">
                <a href="#boletins">Receba nossos boletins</a> &nbsp;
                RSS <a href="#rss"> <%= image_tag("rss.png", :alt=>"rss", :border=>"0", :align=>"absmiddle") %></a>
            </div>

            <div id="idioma">&nbsp;
                <%= link_to(image_tag("flag_br.png", :alt=>"português"),"/pt-BR" )%>&nbsp;<%= link_to(image_tag("flag_en.png", :alt=>"english"),'/en') %>&nbsp;<%= link_to(image_tag("flag_es.png", :alt=>"espa&ntilde;ol"),'/es') %>&nbsp;
            </div>

        </div> <!--barra-->

        <div id="marca">
            <%= link_to(image_tag("marca.png", :alt=>'SOF', :width=>'1000', :height=>'130', :border => 0), root_url) %>
        </div>

        <%= render :partial => '/shared/menu' %>

    </div> <!--barraSuperior-->

    <div id="conteudo">
        <%= yield %>
    </div>

    <!-- rodapé-->
    <div id="rodape" title="Sempreviva Organiza&ccedil;&atilde;o Feminista">
      <div id="rodape_esq">
        <p><strong>Sempreviva Organização Feminista </strong></p>
        <p>R. Ministro Costa e Silva, 36 - Pinheiros, São Paulo/SP <br />
            CEP: 05417-080 - Fone/Fax: (11) 3819-3876</p>
      </div>
      <div id="rodape_dir">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/br/"><img alt="Licença Creative Commons" style="border-width:0; margin-bottom: 3px;" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/88x31.png" /></a><br />Esta obra foi licenciada com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/br/">Creative Commons - Atribuição - Uso Não Comercial - Partilha nos Mesmos Termos 3.0 Brasil</a>.
      </div>
    </div>

</div>

</body>
</html>
